{% extends "wallet/base.html" %}

{% block content %}
<h1>Transaction Create/Update</h1>
<form action="" method="post">
  <p>{{ form.date.label_tag }}: {{ form.date }}</p>
  <p>{{ form.amount.label_tag }}: {{ form.amount }}</p>
  <p>{{ form.description.label_tag }}: {{ form.description }}</p>
  <p>{{ form.account.label_tag }}: {{ form.account }}</p>
  <p><input type="submit"></p>
</form>
{% endblock %}

{% block navbar %}
<ul>
  <li><a href="{% url wallet.views.transaction.create %}">Create</a></li>
  <li><a href="{% url wallet.views.transaction.list %}">List</a></li>
</ul>
{% endblock %}
