{% extends "wallet/base.html" %}

{% block content %}
<h1>Transaction Delete</h1>

<p>Delete transaction: {{ transaction.description }}?</p>
<form action="" method="post">
  <input type="submit">
</form>

{% endblock %}

{% block navbar %}
<ul>
  <li><a href="{% url wallet.views.transaction.create %}">Create</a></li>
  <li><a href="{% url wallet.views.transaction.list %}">List</a></li>
  <li><a href="{{ transaction.get_absolute_url }}">Detail</a></li>
  <li><a href="{{ transaction.get_update_url }}">Edit</a></li>
</ul>
{% endblock %}
